<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <mat-form-field class="w-full">
            <mat-label>Select a currency</mat-label>
            <mat-select [formControl]="selectControl">
                <mat-select-trigger>
                    <img
                            src="{{mapCurrencyCodeToFlagURL(selectedCurrency)}}"
                            class="inline w-[32px] mr-2"
                            alt="United states flag"
                    >
                    {{mapCurrencyCodeToName(selectedCurrency)}}
                </mat-select-trigger>
                <mat-option value="USD">
                    <span class="flex items-center">
                        <img
                                src="https://flagsapi.com/US/flat/32.png"
                                class="inline w-[32px] mr-2"
                                alt="United states flag">
                        United States Dollar
                    </span>
                </mat-option>
                <mat-option value="EUR">
                    <span class="flex items-center">
                        <img
                                src="https://flagcdn.com/w40/eu.png"
                                class="w-[32px] mr-2"
                                alt="European Union"
                        >
                        Euro
                    </span>
                </mat-option>
                <mat-option value="GBP">
                    <img
                            src="https://flagsapi.com/GB/flat/32.png"
                            class="inline w-[32px] mr-2"
                            alt="United states flag"
                    >
                    Great Britain Pound
                </mat-option>
                <mat-option value="RUB">
                    <img
                            src="https://flagsapi.com/RU/flat/32.png"
                            class="inline w-[32px] mr-2"
                            alt="United states flag"
                    >
                    Russian Ruble
                </mat-option>
                <mat-option value="CHF">
                    <img
                            src="https://flagsapi.com/CH/flat/32.png"
                            class="inline w-[32px] mr-2"
                            alt="United states flag"
                    >
                    Swiss Franc
                </mat-option>
                <mat-option value="TRY">
                    <img
                            src="https://flagsapi.com/TR/flat/32.png"
                            class="inline w-[32px] mr-2"
                            alt="United states flag"
                    >
                    Turkish Lira
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-table [dataSource]="exchangeRates$ | async" class="mat-elevation-z8">
            <!-- Define the table structure here, e.g., -->
            <ng-container matColumnDef="bankName">
                <mat-cell *matCellDef="let element">
                    <span class="flex">
                        <img src="assets/images/bankImages/{{element.bankName}}.png" class="w-[32px] mr-2" alt="Bank logo">
                        {{element.bankName}}
                    </span>
                </mat-cell>
                <mat-header-cell *matHeaderCellDef> Bank Name</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="buyRate">
                <mat-header-cell *matHeaderCellDef> Buy Rate</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.buyRate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sellRate">
                <mat-header-cell *matHeaderCellDef> Sell Rate</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.sellRate}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>

</div>
